<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bite.Mybatis_demo.mapper.ArticleInfoMapper">

    <select id="selectArticleInfoById" resultType="com.bite.Mybatis_demo.model.ArticleInfo">
        SELECT
            ta.*,
            tb.username,
            tb.age
        FROM article_info ta
                 LEFT JOIN user_info tb ON ta.uid = tb.id
        where ta.id=#{id}
    </select>
</mapper>