<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bite.Mybatis_demo.mapper.UserInfoMapperXML">

    <resultMap id="BaseMap" type="com.bite.Mybatis_demo.model.UserInfo">
<!--        <id property="id" column="id"></id>-->
        <result property="deleteFlag" column="delete_flag"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <select id="selectAll" resultType="com.bite.Mybatis_demo.model.UserInfo">
        select * from user_info
    </select>

    <select id="selectAll2" resultMap="BaseMap">
        select * from user_info
    </select>

    <insert id="insertUser">
        INSERT INTO user_info (username, `password`, age) VALUES (#{username}, #{password}, #{age})
    </insert>
    <insert id="insertUser2" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info (username, `password`, age) VALUES (#{userinfo.username},
                                                                  #{userinfo.password}, #{userinfo.age})
    </insert>

    <update id="updateUser">
        update user_info set password = #{password}, age = #{age} where id = #{id}
    </update>

    <delete id="deleteUser">
        delete from user_info where id = #{id}
    </delete>

</mapper>